/* Mặc định SearchBar nằm trong header */
.search-container {
    display: flex;
    align-items: center;
  }
  
  /* Khi màn hình nhỏ (dưới 768px), SearchBar sẽ tách ra khỏi header */
  @media (max-width: 768px) {
    .search-container {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 10px 20px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
    
    .search-bar {
      width: 100%;
      margin: 0 auto;
    }

    .search-list {
      top: 90%;
      left: 0;
      width: 100%;
      margin-left: 0;
      position: absolute;
    }
    .no-results {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      text-align: center;
    }
  }
  